@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
/**
*
* Testing
*
**/
* {
  margin: 0;
  padding: 0;
}

body .nav_wrapper {
  font-family: "Montserrat", sans-serif;
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 32px 0px 16px;
  background-color: #275a53;
}

body .nav_wrapper .wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

body .nav_wrapper .wrapper .nav-container {
  flex-basis: 70%;
  display: flex;
}

@media (min-width: 980px) and (max-width: 1217px) {
  body .nav_wrapper .wrapper .nav-container {
    flex-basis: 65%;
  }
}

@media (max-width: 768px) {
  body .nav_wrapper .wrapper .nav-container {
    flex-basis: 100%;
  }
}

body .nav_wrapper .wrapper .nav-container .nav-brand_container {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

@media (max-width: 768px) {
  body .nav_wrapper .wrapper .nav-container .nav-brand_container {
    flex-basis: 80%;
  }
}

body .nav_wrapper .wrapper .nav-container .nav-brand_container .logo {
  position: relative;
  display: block;
  margin-right: 8px;
}

body .nav_wrapper .wrapper .nav-container .nav-brand_container .logo img {
  height: 32px;
}

body .nav_wrapper .wrapper .nav-container .nav-brand_container .brand-name {
  position: relative;
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

body .nav_wrapper .wrapper .nav-container .nav-brand_container .brand-name a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.5px;
}

body .nav_wrapper .wrapper .nav-container .nav-brand_container .brand-name p {
  font-size: 14px;
  color: white;
  margin: 0;
  letter-spacing: 1.5px;
}

body .nav_wrapper .wrapper .nav-container .nav-brand_container .brand-name::before {
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  width: 2px;
  background-color: white;
}

body .nav_wrapper .wrapper .nav-container .hamburger {
  display: none;
}

@media (max-width: 768px) {
  body .nav_wrapper .wrapper .nav-container .hamburger {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
  }
}

body .nav_wrapper .wrapper .nav-container .hamburger span {
  font-size: 48px;
}

body .nav_wrapper .wrapper .nav-container nav {
  flex-basis: 70%;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

@media (max-width: 768px) {
  body .nav_wrapper .wrapper .nav-container nav {
    display: none;
  }
}

body .nav_wrapper .wrapper .nav-container nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .nav_wrapper .wrapper .nav-container nav ul li {
  list-style: none;
  padding: 15px 10px;
}

@media (min-width: 1080px) {
  body .nav_wrapper .wrapper .nav-container nav ul li {
    padding: 15px 30px;
  }
}

body .nav_wrapper .wrapper .nav-container nav ul li a {
  font-weight: 500;
  color: white;
  letter-spacing: 2px;
  line-height: 2px;
  text-decoration: none;
}

body .nav_wrapper .wrapper .contact-nav {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (min-width: 980px) and (max-width: 1217px) {
  body .nav_wrapper .wrapper .contact-nav {
    flex-basis: 35%;
  }
}

@media (max-width: 768px) {
  body .nav_wrapper .wrapper .contact-nav {
    display: none;
  }
}

body .nav_wrapper .wrapper .contact-nav a {
  padding: 0px 8px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  letter-spacing: 1.5px;
}

@media (min-width: 980px) and (max-width: 1347px) {
  body .nav_wrapper .wrapper .contact-nav a {
    font-size: 12px;
  }
}

@media (min-width: 980px) and (max-width: 1043px) {
  body .nav_wrapper .wrapper .contact-nav a {
    font-size: 10px;
  }
}

body .nav_wrapper .wrapper .contact-nav a svg {
  color: white;
  margin-right: 8px;
}

body .hero-section {
  padding: 4em 0 10em 4em;
  background-color: #275a53;
}

body .hero-section h3 {
  font-family: "Work Sans", sans-serif;
  color: white;
}

body .hero-section p {
  color: white;
  font-family: "Montserrat", sans-serif;
}

body .hero-section .form-container {
  padding: 0 !important;
  display: flex;
  flex-direction: row;
  background-color: white;
}

body .hero-section .form-container .form {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

body .hero-section .form-container .form input {
  margin-bottom: 15px;
  padding: 7px 10px 7px 0;
  display: block;
}

body .hero-section .form-container .form textarea {
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 1px solid #275a53;
  padding: 7px 10px 7px 0;
}

body .hero-section .form-container .form textarea:focus {
  border-bottom: 2px solid #275a53;
}

body .hero-section .form-container .form input[type="text"] {
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 1px solid #275a53;
}

body .hero-section .form-container .form input[type="text"]:focus {
  border-bottom: 2px solid #275a53;
}

body .hero-section .form-container .form input[type="button"] {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 7px 20px;
  font-size: 18px;
  border: none;
  color: white;
  background-color: #275a53;
}

body .hero-section .form-container .form input::placeholder {
  font-size: 16px;
}

body .hero-section .form-container .form textarea::placeholder {
  font-size: 16px;
}

body .hero-section .form-container .details {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6efe4;
}

body .hero-section .form-container .details .details-information {
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 2em 5em 0 0;
  border-bottom: 1px solid #275a53;
}

body .hero-section .form-container .details .details-information .information {
  padding-bottom: 15px;
}

body .hero-section .form-container .details .details-information .information h3 {
  margin: 0;
  color: #275a53;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}

body .hero-section .form-container .details .details-information .information address {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

body .hero-section .form-container .details .social-media ul {
  margin: 2em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

@media (max-width: 768px) {
  body .hero-section .form-container .details .social-media ul {
    margin: 1em 0;
  }
}

body .hero-section .form-container .details .social-media ul li {
  margin-right: 20px;
}

body .hero-section .form-container .details .social-media ul li svg {
  height: 30px;
  width: 30px;
  margin: 7px;
  color: #275a53;
}
/*# sourceMappingURL=contact.css.map */