@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
/**
*
* Testing
*
**/
* {
  margin: 0;
  padding: 0;
}

body .hero-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .hero-section__row1 {
  background-color: #275a53;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .hero-section__row1__txt {
  width: 100%;
  padding: 20px 80px;
}

@media (max-width: 768px) {
  body .hero-section__row1__txt {
    padding: 20px 32px;
  }
}

@media (max-width: 600px) {
  body .hero-section__row1__txt {
    padding: 20px 16px;
  }
}

body .hero-section__row1 h1 {
  font-family: "Montserrat", sans-serif;
  color: #f6efe4;
  font-size: 48px;
}

@media (max-width: 600px) {
  body .hero-section__row1 h1 {
    font-size: 32px;
  }
}

body .hero-section__row1 p {
  color: #f6efe4;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 42px;
}

@media (max-width: 600px) {
  body .hero-section__row1 p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
  }
}

body .hero-section .form-container {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  position: absolute;
  max-width: calc(100% - 140px);
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
}

@media (max-width: 768px) {
  body .hero-section .form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: calc(100% - 48px);
    -webkit-transform: translate(-50%, -10%);
            transform: translate(-50%, -10%);
  }
}

@media (max-width: 600px) {
  body .hero-section .form-container {
    -webkit-transform: translate(-50%, -5%);
            transform: translate(-50%, -5%);
    max-width: calc(100% - 16px);
  }
}

body .hero-section .form-container .form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
}

@media (max-width: 600px) {
  body .hero-section .form-container .form {
    padding: 24px 16px;
  }
}

body .hero-section .form-container .form form {
  width: 100%;
}

@media (max-width: 768px) {
  body .hero-section .form-container .form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .hero-section .form-container .form form input {
  font-size: 18px;
  margin-bottom: 15px;
  padding: 20px 10px;
  display: block;
}

body .hero-section .form-container .form form textarea {
  font-size: 18px;
  width: 80%;
  border: none;
  outline: none;
  border: 1px solid #275a53;
  padding: 20px 10px;
}

@media (max-width: 768px) {
  body .hero-section .form-container .form form textarea {
    max-width: 100%;
    width: auto;
  }
}

body .hero-section .form-container .form form textarea:focus {
  border-bottom: 2px solid #275a53;
}

body .hero-section .form-container .form form input[type="text"] {
  max-width: 80%;
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid #275a53;
}

@media (max-width: 768px) {
  body .hero-section .form-container .form form input[type="text"] {
    max-width: 100%;
    width: auto;
  }
}

body .hero-section .form-container .form form input[type="text"]:focus {
  border-bottom: 2px solid #275a53;
}

body .hero-section .form-container .form form input[type="button"] {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 18px 48px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #275a53;
}

body .hero-section .form-container .form form input::-webkit-input-placeholder {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #275a53;
}

body .hero-section .form-container .form form input:-ms-input-placeholder {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #275a53;
}

body .hero-section .form-container .form form input::-ms-input-placeholder {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #275a53;
}

body .hero-section .form-container .form form input::placeholder {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #275a53;
}

body .hero-section .form-container .form form textarea::-webkit-input-placeholder {
  color: #275a53;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body .hero-section .form-container .form form textarea:-ms-input-placeholder {
  color: #275a53;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body .hero-section .form-container .form form textarea::-ms-input-placeholder {
  color: #275a53;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body .hero-section .form-container .form form textarea::placeholder {
  color: #275a53;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body .hero-section .form-container .details {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f6efe4;
  padding: 20px 40px;
}

body .hero-section .form-container .details .details-information {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0px;
  border-bottom: 1px solid #275a53;
}

body .hero-section .form-container .details .details-information .information {
  padding-bottom: 15px;
}

body .hero-section .form-container .details .details-information .information h3 {
  margin: 0;
  color: #275a53;
  font-family: "Work Sans", sans-serif;
  font-size: 28px;
  text-transform: capitalize;
}

body .hero-section .form-container .details .details-information .information p {
  margin: 10px 0px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body .hero-section .form-container .details .details-information .information a {
  margin: 10px 0px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body .hero-section .form-container .details .social-media ul {
  margin: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media (max-width: 768px) {
  body .hero-section .form-container .details .social-media ul {
    margin: 1em 0;
  }
}

body .hero-section .form-container .details .social-media ul li {
  margin-right: 20px;
}

body .hero-section .form-container .details .social-media ul li svg {
  height: 30px;
  width: 30px;
  margin: 7px;
  color: #275a53;
}

body .hero-section__row2 {
  background-color: #f4f4f4;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
/*# sourceMappingURL=contact.css.map */