@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
$secondary_dark: #275a53;
$secondary: #ddb142;
$primary_dark: #f6efe4;
$primary: #f4f4f4;
$mon: 'Montserrat', sans-serif;
$wk: 'Work Sans', sans-serif;
