@import './color';
@import './mq';
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: $mon;
   .app-wrapper{
       position: relative;
       z-index: 99;
       .m-nav{
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100vh;
           z-index: 999;
           &__wrapper{
               background-color: white;
               height: 100%;
               width: 100%;
               display: flex;
             justify-content: center;
             align-items: center;
            }
            &__list{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 50%;
                width: 100%;
                flex-direction: column;
                list-style: none;
                &__item{
                    padding: 10px 20px;
                }
                &__link{
                    text-decoration: none;
                    color: black;
                    font-size: 28px;
                }
            }
       }
       .nav_wrapper{
        z-index: 1;
          position: absolute;
          top: 0;
          width: 100%;
          margin: 0;
          padding: 32px 0px 16px;
          .wrapper{
            display: flex;
            align-items: center;
            width: 100%;
            .nav-container{
                flex-basis: 70%;
                display: flex;
                @include media('>=980px','<1218px'){
                    flex-basis: 65%;
                }
                @include media('<=tablet'){
                    flex-basis: 100%;
                }
                .nav-brand_container{
                    flex-basis: 30%;
                    display: flex;
                    align-items: center;
                    padding-left: 32px;
                    @include media('<=tablet'){
                        flex-basis: 80%;
                        padding-left: 20px;
                    }
                    .logo{
                        position: relative;
                        display: block;
                        margin-right: 8px;
                        img{
                            height: 32px;
                        }
                        
                    }
                    .brand-name{
                        position: relative;
                        display: flex;
                        padding-left: 10px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        a{
                            color: white;
                            text-decoration: none;
                            font-size: 14px;
                            letter-spacing: 1.5px;
                        }
                        p{
                            font-size: 14px;
                            color: white;
                            margin: 0;
                            letter-spacing: 1.5px;
                        }
                        &::before{
                         position: absolute;
                         content: '';
                         height: 100%;
                         left: 0;
                         width: 2px;
                         background-color: white;
                        }
                    }
                 }
                 .hamburger{
                     display: none;
                     @include media('<=tablet'){
                        display: flex;
                        justify-content: center;
                        flex-basis: 20%;
                    }
                    span{
                        font-size: 48px;
                    }
                 }
                 nav{
                     flex-basis: 70%;
                     padding-top: 0;
                     padding-bottom: 0;
                     height: 100%;
                     width: 100%;
                     display: block;
                     position: relative;
                     @include media('<=tablet'){
                         display: none;
                     }
                     ul{
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         li{
                             list-style: none;
                             padding: 15px 10px;
                             @include media('>=1080px'){
                                 padding: 15px 30px;
                            }
                             a{
                                 font-weight: 500;
                                 color: white;
                                 letter-spacing: 2px;
                                 line-height: 2px;
                                 text-decoration: none;
                             }
                         }
                     }
                 }
            }
             .contact-nav{
                 flex-basis: 30%;
                 @include media('>=980px','<1218px'){
                    flex-basis: 35%;
                }
                @include media('<=tablet'){
                    display: none;
                }
                 display: flex;
                 justify-content: center;
                 align-items: flex-end;
                //  padding-right: 56px;
                 a{
                     padding: 0px 8px;
                     color: black;
                     text-decoration: none;
                     font-size: 14px;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     font-weight: 600;
                     letter-spacing: 1.5px;
                     @include media('>=980px','<1348px'){
                        font-size: 12px;
                    }
                     @include media('>=980px','<1044px'){
                        font-size: 10px;
                    }
                     svg{
                         margin-right: 8px;
                     }
                 }
             }
          }
      }
      .hero-container{
          display: flex;
          height: 100vh;
          @include media('<=tablet'){
            flex-direction: column;
        }
          .hero-1{
              flex-basis: 70%;
              @include media('>=980px','<1218px'){
                flex-basis: 65%;
            }
            @include media('<=tablet'){
                flex-basis: 50%;
             }
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
              background-color: $secondary_dark;
              .txt-container{
                padding: 0 0 0 32px;
                max-width: 640px;
                width: 100%;
                @include media('>=980px','<desktop'){
                    max-width: 320px;
                }
                @include media('>=desktop','<=1440px'){
                    max-width: 520px;
                }
                @include media('<=tablet'){
                    padding: 0 10px;
                    max-width: 100%;
                    width: auto;
                    text-align: center;
                }
                  h1{
                      margin: 0;
                      padding: 0;
                      font-size: 64px;
                      color: white;
                      letter-spacing: .5px;
                      @include media('<=tablet'){
                        font-size: 48px;
                    }
                      @include media('<=425px'){
                        font-size: 28px !important;
                    }
                      @include media('<=tablet'){
                        font-size: 48px;

                    }
                      @include media('>=980px','<desktop'){
                        font-size: 38px;
                        }
                        @include media('>=desktop','<=1440px'){
                            font-size: 48px;
                        }
                      a{
                          color: $secondary;
                      }
                  }
                  p{
                      font-size: 24px;
                      color: white;
                      margin-top: 22px;
                      font-family: $wk;
                      line-height: 28px;
                      @include media('<=tablet'){
                        display: none;
                    }
                      @include media('>=980px','<desktop'){
                        font-size: 18px;
                        }
                    @include media('>=desktop','<=1440px'){
                        font-size: 20px;
                        }
                  }
                  button{
                    margin-top: 22px;
                    padding: 10px 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    color: white;
                    border: none;
                    background-color: $secondary;
                    @include media('<=tablet'){
                        display: none;
                    }
                    span{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 14px;
                        background-color: white;
                        padding: 10px;
                        font-size: 24px;
                    }
                  }
              }
          }
          .hero-2{
              z-index: 0;
              flex-basis: 30%;
              @include media('>=980px','<1218px'){
                flex-basis: 35%;
            }
            @include media('<=tablet'){
               flex-basis: 50%;
            }
              background-color: $primary_dark;
              position: relative;
              .floatingSlider{
                  position: absolute;
                  top: 50%;
                  left: 0%;
                  display: block;
                  width: 920px;
                  @include media('>tablet','<desktop'){
                      width: 540px;
                    }
                    @include media('>=desktop','<=1440px'){
                      width: 720px;
                    }
                    @include media('<=tablet'){
                        top: 18%;
                        left: 50%;
                        max-width: 640px;
                        width: 100%;
                     }
                //   width: 100%;
                  transform: translate(-50%,-50%);
                  &__slider{
                      img{
                          height: 100%;
                          width: 100%;
                      }
                  }
                  &__controls{
                      position: relative;
                      height: 20px;
                      .controls{
                          position: absolute;
                          top: 0;
                          right: 0;
                          display: flex;
                          justify-content: space-evenly;
                          transform: translateY(-50%);
                          background-color: white;
                        //   padding: 15px 30px;
                          height: 64px;
                          width: 144px;
                          font-size: 24px;
                          box-shadow: 0px 30px 60px 0px rgba(138,149,158,0.4);
                          &__divider{
                            width: 2px;
                            background-color: $primary_dark;
                          }
                          &--center{
                              display: flex;
                              justify-content: center;
                              align-items: center;
                          }
                      }
                  }
              }
          }
      } 
   }
}